/*

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
}

.secondcontainer{
  justify-content: center;
  align-items: center;
  height: 200vh; 
  text-align: center;
  background-color: #FBFADA;
}

.spacer{
  height: 20px;
}

.badge-1 {
  padding-bottom: 900px;
  font-size: 16px;
  background-color: rgba(236, 222, 222, 0.658);
  border-radius: 8px;
  padding: 5px;  
}

.whytrackhead {
  margin-top: 14px;
  margin-bottom: 18px;
  font-size: 28px;  
  font-family: 'Poppins';
  color: #12372A;  
  font-weight: bolder;
}

.whytrackpara {
  margin-left: 280px;
  margin-right: 280px;
  color:rgba(128, 128, 128, 0.918);
  line-height: 137%;
  margin-bottom: 28px;
  font-size: 18px;
}

.cardcontainer {
  display: flex; 
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin: 32px 5px;
}

.card {
  width: 18%;
  padding: 20px; 
  margin-bottom: 20px; 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
  border-radius: 8px;
  background-color: #ADBC9F; 
  font-family: 'Poppins';
  line-height: 21px;
}

.card1-heading {
  font-size: 1.1rem; 
  color: #12372A; 
  margin-top: 5px;
  font-weight: bolder;
  
}

.card1-paragraph {
  margin-top: 12px;
  font-size: 0.9rem; 
  color:black; 
  margin-bottom: 12px;
}

*/