.navbar {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Changed from center to space-between */
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: 'Poppins';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }


  .navbar-logo {
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .nav-menu {
    display: none; /* Removed unnecessary properties */
  }
  
  .navlist {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 20px; /* Added some space between nav items */
  }
  
  .navlink {
    text-decoration: none;
    color: #12372A; 
    font-weight: bold;

  }
  
  .navlink:hover {
    border-bottom: 4px solid #12372A;
    transition: border-bottom 0.2s ease-out;
    color: #12372A;
    text-decoration: none;
  }
  