
/* Variables */
:root {
  --transition-time: 2.3s;
}


body section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.flip {
  position: relative;
  height: 350px;
  width: 350px;
  transition: ease all var(--transition-time);
  perspective: 1200px;
  background-color: #FBFADA;
  border:none;
}

.flip:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}

.flip:hover .cover:before {
  transform: translateZ(30px);
}

.flip:hover .cover:after {
  background-color: black;
}

.flip:hover .cover h1 {
  transform: translateZ(100px);
}

.flip:hover .cover .price {
  transform: translateZ(60px);
}

.flip:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}

.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all var(--transition-time);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}

.cover:before {
  content: '';
  position: absolute;
 /* border: 5px solid #12372A;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);*/
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all var(--transition-time);
  transform-style: preserve-3d;
  transform: translateZ(0px);
}

.cover:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}




.cover h1 {
  font-weight: 600;
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all var(--transition-time);
  z-index: 3;
  font-size: 24px;
  transform: translateZ(0px);
  text-align: center;

}


.flip-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #081c05;
  transform-style: preserve-3d;
  transition: ease all var(--transition-time);
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-back p {
  transform-style: preserve-3d;
  transition: ease transform var(--transition-time), ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 5px solid white;
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  outline: none;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

.flip-back a:hover {
  background-color: white;
  color: #0b0f08;
}
