* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}


body{

  background-color: #FBFADA;
}


{/*}
.navbar {
  color: #fff;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #12372A;

}

.logo {
  margin-right: 20px;
}

.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navlist li {
  margin-right: 50px;
}

.navlink {
  text-decoration: none;
  color: #fff;
}

.navlink:hover {
  text-decoration: underline;
}

.main{
  background-color: #FBFADA;

}

.firstcontainer {
  display: flex;
  justify-content: space-between; 
  background-color: #12372A;
  margin-top: 0;
  }

.heading {
    align-items: center;
    text-align: center;
    font-size:50px;
  }


.m-2{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-2{
  color: #ADBC9F;
  margin: 40px;
  margin-top: 0;
  font-size: 20px;

}

.startbutton{
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: center;
}

.startbutton:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .startbutton{
    padding: 10px 30px;
  }
}

.plantimage{
  border-radius: 8px;
  width: 410px;
  height: 432px;
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 50px;
  margin-right: 20px;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #FBFADA;
  font-family: 'Poppins';
  font-style: italic;
  font-size: 60px;
  padding: 20px;
  margin-left: 50px;
  margin-top: 0px;
  padding-top: 0px;
  text-align:center;
}


.secondcontainer{
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.badge-1 {
  font-size: 16px;
  background-color: rgba(236, 222, 222, 0.658);
  border-radius: 8px;
  padding: 5px;
}

.whytrack {
  font-size: 24px;    
}

.whytrackpara {
  margin-left: 250px;
  margin-right: 250px;
  color:gray
}

.cardcontainer {
  display: flex; 
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin: 32px 5px;
}

.card {
  width: 18%;
  padding: 20px; 
  margin-bottom: 20px; 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; 
  border-radius: 8px;
  background-color: #ADBC9F; 
}

.card1-heading {
  font-size: 1.5rem; 
  color: #333; 
}

.card1-paragraph {
  font-size: 1rem; 
  color:#12372A; 
*/}
